@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  font-family: 'Share Tech Mono', monospace;
  background-color: rgb(12, 12, 12);
}